/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* Reset CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/* default */
.mt-16{
  margin-top: 16px
}
.hidden {
  display: none;
}
.block {
  display: block !important;
}
/* Nav */
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}
.nav__brand {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-left: 10px;
}
.nav__brand--name {
  margin-left: 10px;
}
.nav__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}
.nav .nav__item {
  display: flex;
  flex-flow: row nowrap;
  padding: 5px 10px;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.nav__item--name{
  margin-left: 5px;
}

/* Body */
#body {
  width: 100%;
  margin: 0 auto;
}
.pomodoro {
  width: 100%;
  display: flex;
  /* flex-flow: row wrap; */
  flex-flow: column;
  justify-content: center;
  background-color: rgb(217, 85, 80);
  /* background-color: rgb(34,139,34); */
}
 
/* body-pemodoro */
.pomodoro__box {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-grow: 2;
}
.pomodoro__box .circle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 30px 0;
}
/* tree */
.pomodoro .circle .image {
  width: 100%;
  height: 100%;
  background-position:center;
  background-image: url(../images/tree/tree-0.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* -webkit-animation: fadeinout 1s linear forwards;
  animation: fadeinout 1s linear forwards; */
}
@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

.pomodoro__box .box {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 20px;
  position: relative;
}
.pomodoro__box .period {
  display: flex;
  flex-flow: row;
  padding: 12px;
}
.pomodoro__box .study,
.pomodoro__box .s-break,
.pomodoro__box .l-break
{
  margin: 0 4px;
  padding: 4px 6px;
  cursor: pointer;
  color: white;
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px;
}
.pomodoro__box .study.active{
  background-color: rgba(0, 0, 0, 0.3);
}
.pomodoro__box .s-break.active{
  background-color: rgba(0, 0, 0, 0.3);
}
.pomodoro__box .l-break.active{
  background-color: rgba(0, 0, 0, 0.3);
}
.pomodoro__box .timestamp {
  font-weight: bold;
  font-size: 80px;
  color: white;
  padding-bottom: 12px;
}
.pomodoro__box .footer .skip {
  position: absolute;
  right: 20px;
  bottom: 30px;
  color: white;
  cursor: pointer;
}
.pomodoro__box .footer .stop {
  background-color: #D2222D;
}
.pomodoro__box .footer .start {
  background-color: #238823;
}
.pomodoro__box .footer .stop,
.pomodoro__box .footer .start {
  border-radius: 4px;
  padding: 10px 50px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: bold;
  transition: all 0.2s ease-in;
}
.pomodoro__box .footer .stop:hover,
.pomodoro__box .footer .start:hover {
  opacity: 0.8;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
/* modal */
.task__modal--box .header,
.profile__modal--box .header,
.setting__modal--box .header {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  margin-bottom: 20px;
}

.task__modal--box .footer,
.profile__modal--box .footer,
.setting__modal--box .footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.modal-name {
  font-weight: bold;
  font-size: 20px;
  color: rgb(187, 187, 187);
}
.modal-close {
  font-size: 20px;
  color: rgb(187, 187, 187);
  transition: all 0.3s ease-in;
}
.modal-close:hover {
  color: rgb(150, 150, 150);
  cursor: pointer;
}
.modal-input{
  background-color: rgb(239, 239, 239);
  border: 1px solid rgb(206, 205, 205);
  border-radius: 8px;
  padding: 10px 0;
  width: 100%;
}
/* task modal */
.task__modal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.task__modal--box {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 30px;
  border-radius: 8px;
  width: 80%;
  max-width: 480px;
}
.task__modal--box .footer-button {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  align-content: stretch;
}
.task__modal--box .save-btn {
  color: white;
  background:rgb(92, 92, 92);
}
.task__modal--box .save-btn:hover {
  background-color: rgb(39, 39, 39);
}
.task__modal--box .delete-btn {
  color:rgb(150, 150, 150);
}
.task__modal--box .cancel-btn {
  margin-right: 10px;
  color:rgb(150, 150, 150);
}
.task__modal--box .delete-btn:hover,
.task__modal--box .cancel-btn:hover {
  color: rgb(44, 44, 44);
  border: 1px solid rgb(44, 44, 44);
}
.task__modal--box .button {
  height: 40px;
  width: 70px;
  font-weight: 700;
  border: 1px solid rgb(150, 150, 150);
  transition: all 0.2s ease-in;
}
/* profile modal */
.profile__modal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.profile__modal--box {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 30px;
  border-radius: 8px;
  width: 80%;
  max-width: 480px;
}

/* setting modal */
.setting__modal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.setting__modal--box {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 30px;
  border-radius: 8px;
  width: 80%;
  max-width: 480px;
}
.setting__modal--box .setting__time {
  font-weight: 600;
  font-size: 20px;
  color: rgb(139, 138, 138);
}
.pomodoro-durantion,
.short-duration,
.long-duration{
  margin-top: 16px;
}
.setting__modal--box .name{
  margin-left: 10px;
  color: rgb(117, 116, 116);
}
.setting__modal--box .setting-input {
  width: 100%;
  padding: 10px 10px;
  font-weight: 600;
  
}
.setting__modal--box .footer{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.setting__modal--box .setting-btn {
  padding: 5px 20px;
  color: white;
  background:rgb(92, 92, 92);
  border: none;
  border-radius: 4px;
  transition: all ease-in 0.2s;
}
.setting__modal--box .setting-btn:hover {
  opacity: 0.8;
}

/* body-tasklist */
.tasklist {
  flex-grow: 3;
  display: flex;
  flex-flow: column;
  align-items: center;
  
}


.tasklist__box{
  max-width: 800px;
  padding: 20px;
  /* background-color: rgb(217, 85, 80); */
  border-radius: 20px;
  min-width: 400px;
}
.tasklist__box .header{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  border-bottom: 3px solid white;
  position: relative;
}
.header .btn-option {
  color: white;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tasklist__box .header .name {
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.tasklist__box .tasks {
  display: flex;
  flex-flow: column;
  margin-top: 10px;
}
.tasklist__box .task {
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 15px 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.1s ease-in;
  border-left: 3px solid rgb(240, 68, 77);
  transition: border 0.1s ease-in;
}
.tasklist__box .task + .task {
  margin-top: 10px;
}
.tasklist__box .task:hover{
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.tasklist__box .task .name {
  flex-grow: 1;
}
.tasklist__box .btn-add {
  display: flex;
}

.tasklist .btn-all-option{
  border: 1px solid white;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.tasklist .btn-all-option:hover {
  opacity: 0.6;
}
.tasklist .options-box{
  display: none;
  position: absolute;
  top: 60px;
  right: 15px;
  background-color: white;
  border: 1px solid rgb(206, 205, 205);
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.options-box .done-all,
.options-box .delete-all{
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.options-box .done-all:hover,
.options-box .delete-all:hover{
  opacity: 0.8;
}
.options-box .title{
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
}
.task .btn-option {
  padding: 10px 15px;
  border: 1px solid rgb(223, 223, 223);
  color: rgb(139, 138, 138);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.task .btn-option:hover {
  background-color: rgb(223, 223, 223);
}
.task .name {
  padding: 0 10px;
}
.task .title {
  max-width: 400px;
  font-size: 20px;
  font-weight: 600;
}
.task .date {
  font-size: 14px;
  font-weight: 600;
}
.task .note {
  font-size: 14px;
  /* display: none; */
}
.task .btn-check{
  color: rgb(172, 171, 171);
  color:rgb(217, 85, 80);
  font-size: 25px;
  cursor: pointer;
}
.task .btn-check:hover{
  opacity: 0.8;
}
/* add task box */
.tasklist__box .btn-add {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  border: 2px dashed rgba(255, 255, 255, 0.4);
  margin-top: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  font-weight: bold;
}
.btn-add:hover {
  color:rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  border: 2px dashed rgba(255, 255, 255, 0.5);
}
.btn-add .name{
  padding: 0 10px;
}