/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  background-color: #f2ae72;
}
/* default */
.mt-16 {
  margin-top: 16px;
}
.hidden {
  display: none;
}
.block {
  display: block !important;
}
/* Nav */
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background: #fefefe;
}
.nav__brand {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-left: 10px;
}
.nav__brand--name {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 900;
  color: #944c52;
}
.nav__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}
.nav__items button {
  background: #588c73;
  border: none;
  /* border-radius: 12px; */
  color: white;
  font-size: 16px;
}
.nav .nav__item {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  cursor: pointer;
}
.nav__item--name {
  margin-left: 5px;
}
.fa-music,
.fa-cog,
.fa-id-badge,
.fa-sign-out-alt {
  color: #f7f2f3;
}

/* Body */
#body {
  width: 100%;
  margin: 0 auto;
}
.pomodoro {
  width: 100%;
  display: flex;
  /* flex-flow: row wrap; */
  flex-flow: row;
  justify-content: center;
  /* background-color: rgb(34,139,34); */
  align-items: center;
  
}

/* body-pemodoro */
.pomodoro__box {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-grow: 2;
  order: 2;
  padding-bottom: 20px;
}
.pomodoro__box .circle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 5px solid #be3636;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 30px 0;
}
/* tree */
.pomodoro .circle .image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-image: url(../images/tree/tree-0.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* -webkit-animation: fadeinout 1s linear forwards;
  animation: fadeinout 1s linear forwards; */
}
@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.pomodoro__box .box {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #588c73;
  border-radius: 8px;
  padding: 20px;
  position: relative;
}
.pomodoro__box .period {
  display: flex;
  flex-flow: row;
  padding: 12px;
}
.pomodoro__box .study,
.pomodoro__box .s-break,
.pomodoro__box .l-break {
  margin: 0 4px;
  padding: 4px 6px;
  cursor: pointer;
  color: white;
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px;
}
.pomodoro__box .study.active {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}
.pomodoro__box .s-break.active {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}
.pomodoro__box .l-break.active {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}
.pomodoro__box .timestamp {
  font-weight: bold;
  font-size: 80px;
  color: white;
  padding-bottom: 12px;
}
.pomodoro__box .footer .skip {
  position: absolute;
  right: 20px;
  bottom: 30px;
  color: white;
  cursor: pointer;
}
.pomodoro__box .footer .stop {
  background-color: #d2222d;
}
.pomodoro__box .footer .start {
  background-color: #238823;
}
.pomodoro__box .footer .stop,
.pomodoro__box .footer .start {
  border-radius: 4px;
  padding: 10px 50px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: bold;
  transition: all 0.2s ease-in;
}
.pomodoro__box .footer .stop:hover,
.pomodoro__box .footer .start:hover {
  opacity: 0.8;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
/* style fillters */
.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  order: 1;
  padding: 10px;
}
/* modal */
.task__modal--box .header,
.profile__modal--box .header,
.setting__modal--box .header {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  margin-bottom: 20px;
}

.task__modal--box .footer,
.setting__modal--box .footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.profile__modal .body .name {
  font-weight: 700;
}

.profile__modal .footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.profile__modal .fa-sign-out-alt {
  margin-right: 4px;
}
.profile__modal .logout {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 5px 10px;
  background: #588c73;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}
.profile__modal .logout:hover {
  opacity: 0.8;
}
.profile__modal .logout_title {
  font-weight: 600;
  font-size: 12px;
}

.modal-name {
  font-weight: bold;
  font-size: 20px;
  color: rgb(187, 187, 187);
}
.modal-close {
  font-size: 20px;
  color: rgb(187, 187, 187);
  transition: all 0.3s ease-in;
}
.modal-close:hover {
  color: rgb(150, 150, 150);
  cursor: pointer;
}
.modal-input {
  background-color: rgb(239, 239, 239);
  border: 1px solid rgb(206, 205, 205);
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  font-weight: 600;
}
/* task modal */
.task__modal {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 30px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  font-family: 'Source Sans Pro', sans-serif;
}
.task__modal--box {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 30px;
  border-radius: 8px;
  width: 80%;
  max-width: 480px;
}
.task__modal--box .footer-button {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  align-content: stretch;
}
.task__modal--box .save-btn {
  color: white;
  background: rgb(92, 92, 92);
}
.task__modal--box .save-btn:hover {
  background-color: rgb(39, 39, 39);
}
.task__modal--box .delete-btn {
  color: rgb(150, 150, 150);
}
.task__modal--box .cancel-btn {
  margin-right: 10px;
  color: rgb(150, 150, 150);
}
.task__modal--box .delete-btn:hover,
.task__modal--box .cancel-btn:hover {
  color: rgb(44, 44, 44);
  border: 1px solid rgb(44, 44, 44);
}
.task__modal--box .button {
  height: 40px;
  width: 70px;
  font-weight: 700;
  border: 1px solid rgb(150, 150, 150);
  transition: all 0.2s ease-in;
}
/* profile modal */
.profile__modal {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 30px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.profile__modal--box {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 30px;
  border-radius: 8px;
  width: 80%;
  max-width: 480px;
}

/* setting modal */
.setting__modal {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 30px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.setting__modal--box {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 30px;
  border-radius: 8px;
  width: 80%;
  max-width: 480px;
}
.setting__modal--box .setting__time {
  font-weight: 600;
  font-size: 20px;
  color: rgb(139, 138, 138);
}
.pomodoro-durantion,
.short-duration,
.long-duration {
  margin-top: 16px;
}
.setting__modal--box .name {
  margin-left: 10px;
  color: rgb(117, 116, 116);
}
.setting__modal--box .setting-input {
  width: 100%;
  padding: 10px 10px;
  font-weight: 600;
}
.setting__modal--box .footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.setting__modal--box .setting-btn {
  padding: 5px 20px;
  color: white;
  background: rgb(92, 92, 92);
  border: none;
  border-radius: 4px;
  transition: all ease-in 0.2s;
  cursor: pointer;
}
.setting__modal--box .setting-btn:hover {
  opacity: 0.8;
}

/* body-tasklist */
/* .tasklist {
  flex-grow: 3;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  justify-content: space-around;
  margin: 0 2rem;
} */

.tasklist__box {
  max-width: 800px;
  padding: 10px;
  /* background-color: rgb(217, 85, 80); */
  border-radius: 20px;
  min-width: 300px;
  max-width: 400px;
  order: 3;
  align-items: stretch;
  width: 100%;
}
.tasklist__box .header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  border-bottom: 3px solid #3a6a53;
  position: relative;
}
.header .btn-option {
  color: white;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tasklist__box .header .name {
  font-weight: bold;
  font-size: 20px;
  color: #812f27;
}
.tasklist__box .tasks {
  width: 100%;
  height: 99%;
  overflow: auto;
}
.tasks::-webkit-scrollbar {
  display: none;
}
.par-tasks {
  display: flex;
  flex-flow: column;
  margin-top: 10px;
  /* overflow-y: scroll; */
  max-height: 60vh;
  overflow: hidden;
}

.tasklist__box .task {
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 15px 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.1s ease-in;
  border-left: 3px solid rgb(240, 68, 77);
  transition: border 0.1s ease-in;
}
.tasklist__box .task + .task {
  margin-top: 10px;
}
.tasklist__box .task:hover {
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.tasklist__box .task .name {
  flex-grow: 1;
}
.tasklist__box .btn-add {
  display: flex;
}

.tasklist__box .btn-all-option {
  border: 1px solid rgb(94, 20, 20);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #6e1e1e;
  cursor: pointer;
}
.tasklist__box .btn-all-option:hover {
  opacity: 0.6;
}
.tasklist__box .options-box {
  display: none;
  position: absolute;
  top: 60px;
  right: 15px;
  background-color: white;
  border: 1px solid rgb(206, 205, 205);
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.options-box .done-all,
.options-box .delete-all {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.options-box .done-all:hover,
.options-box .delete-all:hover {
  opacity: 0.8;
}
.options-box .title {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
}
.task .btn-option {
  padding: 10px 15px;
  border: 1px solid rgb(223, 223, 223);
  color: rgb(139, 138, 138);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.task .btn-option:hover {
  background-color: rgb(223, 223, 223);
}
.task .name {
  padding: 0 10px;
  flex: 1;
  overflow: hidden;
}
.task .title {
  max-width: 400px;
  font-size: 20px;
  font-weight: 600;
}
.task .date {
  font-size: 14px;
  font-weight: 600;
}
.task .note {
  font-size: 14px;
  /* display: none; */
}
.task .btn-check {
  color: #238823;
  font-size: 25px;
  cursor: pointer;
}
.task .btn-check .fa-times-circle {
  color: rgb(217, 85, 80);
  font-size: 25px;
  cursor: pointer;
}
.fa-check-circle {
  color: #3a6a53;
}
.task .btn-check:hover {
  opacity: 0.8;
}
/* add task box */
.tasklist__box .btn-add {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  border: 2px dashed rgb(241, 239, 239);
  margin-top: 16px;
  background-color: rgb(217, 85, 80);
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.btn-add:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  border: 2px dashed rgba(255, 255, 255, 0.5);
}
.btn-add .name {
  padding: 0 10px;
}
/* style calendar  */
.calendar {
  margin-bottom: 30px;
}
.calendar input {
  display: none;
}
.flatpickr-calendar.inline {
  background: #c0594f;
  color: #fefefe;
  width: 400px;
}
.flatpickr-day.today {
  border: 2px solid #ebc6c9;
}
.flatpickr-day {
  color: #fefefe;
}
.flatpickr-innerContainer {
  width: 100%;
  display: block;
}
.flatpickr-weekday {
  color: #fefefe !important;
}
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay {
  color: #e6bfbf !important;
}
.flatpickr-day.selected {
  background: pink !important;
  border-color: pink !important;
  color: rgb(132 54 54);
  font-weight: 700;
}
.flatpickr-months .flatpickr-month {
  background: #f3f3f3;
  color: rgb(132 54 54);
  fill: rgba(0, 0, 0, 0.9);
  height: 45px;
  line-height: 1;
  text-align: center;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* style tags  */

.filters .tags button {
  min-width: 70px;
}
.filters .tags .tagHome,
.tagFreetime {
  display: inline-block;
  padding: 5px;
  border: none;
  color: white;
  margin: 5px;
  border-radius: 10px;
  background: rgb(176 81 81);
}
.filters .tags .tagHome:hover,
.tagFreetime:hover {
  background: #c55959;
  transition: 0.5s background;
  cursor: pointer;
}
.filters .tags .tagWork,
.done {
  display: inline-block;
  padding: 5px;
  background: #9b5a35;
  border: none;
  color: white;
  margin: 5px;
  border-radius: 10px;
}
.filters .tags .tagWork:hover,
.done:hover {
  background: #723c1c;
  transition: 0.5s background;
  cursor: pointer;
}
.filters .tags .notdone,
.all,
.tagSchool {
  display: inline-block;
  padding: 5px;
  background: rgb(121, 147, 81);
  border: none;
  color: white;
  margin: 5px;
  border-radius: 10px;
}
.filters .tags .notdone:hover,
.all:hover,
.tagSchool:hover {
  background: rgb(66, 92, 24);
  transition: 0.5s background;
  cursor: pointer;
}
/* style task modal  */
/* .task__modal--box input {
} */
/* style profile  */
.profile__modal .image {
  width: 100%;
}
.profile__modal img {
  overflow: hidden;
  width: 100%;
  height: auto;
}
.profile-tree {
  text-align: center;
  margin: 20px 0px;
}
.profile-tree input,
.profile-tree input:focus {
  background: #7c2828;
  border: 1px solid rgb(254, 254, 254);
  font-size: 20px;
  text-align: center;
  width: 100%;
  border-radius: 8px;
  color: white;
}
.profile__modal .name {
  color: rgb(110, 104, 104);
}
.footer .nav__items {
  display: none;
}
