@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* STYLE WAPPER  */
.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-image: url(../images/cool-background.svg);
  background-size: cover;
  background-position: center;
}
/* style content  */
.content {
  width: 60%;
  display: flex;
  /* margin: 3rem 8rem; */
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 3px solid #b70000;
  background-color: white;
}
.sign-in {
  width: 50%;
  height: 100%;
  background-color: #ffb4af57;
  padding-bottom: 15px;
}
.sign-in h2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  display: block;
  padding: 20px 0px;
  font-weight: 700;
  color: #7d0d05;
}
/* style input  */
.sign-in input {
  padding: 20px 10px;
  margin: 50px 0px;
}
.form {
  padding: 0px 30px;
}
input {
  display: block;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border: 3px solid rgb(163 57 57);
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 20px;
  transition: 0.5s ease;
  margin-bottom: 30px;
}
input:focus {
  border-radius: 12px;
  border: 2px solid #a31212;
}
.form-field {
  position: relative;
}
label {
  position: absolute;
  left: 21px;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
  color: #999;
  pointer-events: none;
}
input:not(:placeholder-shown) + label,
input:focus + label {
  top: -15px;
  left: 0;
  padding: 0px 5px;
  display: inline-block;
  color: rgb(61, 16, 16);
}
button {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 12px;
  border-color: #612222;
  background: #5c0f0f;
  color: rgb(253, 251, 251);
}

/* style img  */
.img {
  width: 50%;
  display: flex;
  justify-content: center;
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.home-box {
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 20px;
}
.home-box a {
  color: #b70000;
  text-decoration: underline;
}
.home-box a:hover {
  opacity: 0.6;
}
